* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura total da tela */
    margin: 0; /* Remove margens padrão */
}

header {
    display: flex;
    background-color: #e34444;
    color: #fff;
    padding: 16px;
    text-align: left;
    flex-shrink: 0; /* Impede que o cabeçalho encolha */
}
footer{
    background-color: #e34444;
    color: #fff;
    padding: 16px;
    text-align: left;
    flex-shrink: 0; /* Impede que o cabeçalho encolha */
}

.container {
    display: flex;
    flex-grow: 1; /* Expande o container para ocupar o espaço restante */
    padding: 0;
    margin: 0;
    height: calc(100vh - 32px); /* Altura total menos o cabeçalho */
}



.Menu_categorias {
    width: 20%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin-right: 10px;
    height: 100%; /* Altura total do container */
    overflow-y: auto;
    }
    /* Cabeçalho da seção Categoria */
    .cabeçalho_categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}


.menu_arquivos {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    height: 100%; /* Ajusta a altura para ocupar o restante da tela */
    display: flex;
    flex-direction: column;
    position: relative;
    }
    .cabeçalho_arquivos {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos: título à esquerda, botão à direita */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* Estilo do botão */
.botao_adicinar {
    width: 250px;
    height: 30px;
    background-color: #e34444;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none; /* Remove a borda padrão */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
    transition: background-color 0.3s ease;
 }

    .botao_adicinar:hover {
    background-color: #d12f2f; /* Um tom mais escuro ao passar o mouse */
    
}
.botao_X{
    width: 25px;
    height: 25px;
    background-color: #c5c5c5;
    color: rgb(35, 35, 35);
    font-size: 20px;
    font-weight: bold;
    border: none; /* Remove a borda padrão */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
    transition: background-color 0.3s ease; 
 } 
    .botao_X:hover {
    background-color: #898989; /* Um tom mais escuro ao passar o mouse */   
}


/*modal add arquivos*/
dialog {
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute; /* Posiciona o modal em relação ao viewport */
    top: 50%; /* ove o modal 50% para baixo */
    left: 50%; /* Move o modal 50% para a direita */
    transform: translate(-50%, -50%); /* Centraliza o modal usando transformação */
    background-color: #fff; /* Cor de fundo do modal */
    width: 500px; /* Largura fixa para o modal */
    max-width: 90%; /* Garante que o modal não ultrapasse a largura da tela */
}
main{
    padding-top: 25px;
    padding-bottom: 30px;
}
.header_modal_arquivo{
    display: flex;
    justify-content: space-between;
    background-color: #e34444;
    color: #fff;
    padding: 5px;
    
    border-radius: 4px; /* Arredonda os cantos */
    flex-shrink: 0; /* Impede que o cabeçalho encolha */
}
.inputs_formularios_arquivo{
    display: flex;  
 }
 .difiniçao {
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha o conteúdo à direita */
    gap: 17px; /* Espaço entre os itens */
    text-align: right; /* Alinha o texto à direita */
 }
 .inputs_arquivo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    justify-content: flex-start; /* Mantém os itens no topo */
    gap: px; /* Espaço entre os itens */
    text-align: right; /* Alinha o texto à direita */
}
.inputs_arquivo div {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    
}

.input_pequeno {
    flex: 1; /* Faz o input ocupar o espaço restante */
    width: 200px; /* Define a largura do input */
    padding: 4px;
    border: 1px solid #ccc;
    /*border-radius: 5px; /* Arredonda as bordas */
 }
 .input_medio {
    flex: 1; /* Faz o input ocupar o espaço restante */
    width: 320px; /* Define a largura do input */
    padding: 4px;
    border: 1px solid #ccc;
    /*border-radius: 5px; /* Arredonda as bordas */
 }
 .input_grande {
    flex: 1; /* Faz o input ocupar o espaço restante */
    width: 320px; /* Define a largura do input */
    height: 50px; /* Define a altura do input */
    padding: 4px;
    border: 1px solid #ccc;
    /*border-radius: 5px; /* Arredonda as bordas */
}

.inputs_arquivo button {
    background-color: #c5c5c5;
    color: rgb(25, 25, 25);
    border: none;
    /*border-radius: 5px;*/
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.inputs_arquivo button:hover {
    background-color: #d12f2f; /* Cor ao passar o mouse */
}